<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchPeopleServlet</servlet-name>
    <servlet-class>fi.jyu.it.ties456.week38.Main.SearchPeopleServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateCourseServlet</servlet-name>
    <servlet-class>fi.jyu.it.ties456.week38.Main.CreateCourseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SearchPeopleServlet</servlet-name>
    <url-pattern>/SearchPeopleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCourseServlet</servlet-name>
    <url-pattern>/CreateCourseServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>